




.posts-div{
   margin-top: 20px;
    display: none;
    flex-wrap: wrap-reverse;
    justify-content: center;
    width: 100%;
    gap: 10px;
    flex: 1;
}

.post{
    padding: 0px;
    border: solid .2px #00CB5E ;
    border-radius:10px ;
    width: 250px;
    transition: all .3s;
    cursor: pointer;
    overflow: hidden;

}
.post:hover{
    padding: 0px;
    border: solid 1px #00CB5E;
    transition: all .3s;
    background: #00CB5E;
    border-radius:20px ;
   
}

.post img{
    width: 250px;

}

.post p{
    padding: 5px;
    
    background-color: transparent;
    font-weight: 600;
}


.post:hover p{
    color: white;

}
.post:hover span{
    color: white;

}


.post span{
    color: #00CB5E;
    font-size: 10px;
    font-weight: 600;
    position: relative;
    right: -3px;
    top: -8px;
}
    



footer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background: #00CB5E ;
    width: 100%;
    justify-content: center;
    align-items: center;
    
   

}
footer img{
    width: 70px;
}



@media only screen and (max-width: 600px) {
    body{
    display: block;

    
   
}
.post{
    width: 100%;
    width: 350px;

}
.post img{
    width: 350px;
    
}

.post p{
    font-size: 20px;
}

nav{
    display: block;
}

}

